<!DOCTYPE html>
<html>
  <head>
    <title><%= current_page.data.title || "Middleman" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "styles.css" %>
  </head>
  <body data-spy="scroll" data-target="#top-nav">
    <nav id="top-nav">
      <div class="progress-bar"></div>
      <ul class="nav" role="tablist">
        <li class="active"><a class="smooth-scroll" href="#portfolio">Portfolio</a></li>
        <li><a class="smooth-scroll" href="#work-experience">Work Experience</a></li>
        <li><a class="smooth-scroll" href="#skills-education">Skills &amp; Education</a></li>
        <li><a class="smooth-scroll" href="#about">About</a></li>
        <li><a class="smooth-scroll" id="email-me" href="mailto:anniesexton@gmail.com">Email Me!</a></li>
      </ul>
    </nav>
    <%= yield %>
    <a href="https://github.com/anniesexton/anniesexton" target="_blank" id="github-this-site">
      <i class="icon-github-circled"></i>Checkout this site on Github.
    </a>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Annie Sexton | Full Stack Web Developer</h3>
            <p>Shoot me an email: <a href="mailto:anniesexton@gmail">anniesexton@gmail.com</a></p>
          </div>
          <div class="col-sm-6">
            <ul class="social-icons">
              <li><a href="https://github.com/anniesexton" target="_blank"><i class="icon-github-circled"></i></a></li>
              <li><a href="https://instagram.com/anniebabannie" target="_blank"><i class="icon-instagram"></i></a></li>
              <li><a href="https://twitter.com/anniecsexton" target="_blank"><i class="icon-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag  "all" %>
  </body>
</html>