$headshot_dimension: 220px;
#hero {
  height: 100vh;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
  .table-cell {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-weight: 300;
    line-height: 50px;
  }
  nav {
    margin-top: 30px;
  }
  nav ul {
    padding-left: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
    padding-right: 15px;
    &:after {
      content: "•";
      display: inline-block;
      color: rgba(0,0,0,0.3);
      font-size: 12px;
      margin-left: 15px;
    }
    &:last-child:after { display: none; }
  }
  nav a {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
  }
  .headshot {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.hero-headshot {
  width: 100%;
  @media screen and (min-width: $screen-md-min) {
    width: 25%;
  }
}
.headshot-wrapper {
  width: $headshot_dimension;
  height: $headshot_dimension;
  margin: 0 auto;
  position: relative;
}
.hero-copy {
  text-align: center;
  @media screen and (min-width: $screen-md-min) {
    text-align: left;
  }
}
#get-started-arrow {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 36px;
  z-index: 2;
  display: block;
  padding: 30px;
  i {
    color: #aaa;
    @include transition(font 0.1s, color 0.1s);
  }
  &:hover i {
    color: #333;
    font-size: 38px;
  }
}
.headshot {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;

  display: inline-block;
  height: $headshot_dimension;
  width: $headshot_dimension;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 2px;
  }
}
#headshot1 {
  background-image: url(../img/annie1.jpg);
  opacity: 1;
  @include transition(opacity 0.15s);
  &:hover { opacity: 0; }
}
#headshot2 {
  background-image: url(../img/annie2.jpg);
}