* {
  font-family: 'Lato', sans-serif;
  color: #444;
}
a {
  color: $link_color;
  @include transition(color 0.15s);
  &:hover,
  &:active,
  &:focus { 
    color: shade($link_color, 20%);
    text-decoration: none;
  }
}
h3 {
  font-size: 22px;
  font-weight: 600;
}
.table {
  display: table;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.gray-section {
  background: #eee;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1);
}