#top-nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  opacity: 0.98;
  top: -50px;
  display: none;
  @include transition(top 0.3s);
  &.visible { top: 0; }
  @media screen and (min-width: $screen-sm-min) {
    display: block;
  }
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    float: left;
    width: 20%;
    border-right: 1px solid #eee;
    &:last-child { border-right: none; }
    &.active {
      a { border-bottom-color: $secondary_color; }
    }
  }
  a {
    display: block;
    padding: 10px;
    border-bottom: 4px solid #eee;
    color: #333;
    font-style: italic;
    @include transition(background 0.1s);
  }
  a#email-me {
    background: $primary_color;
    color: #fff;
    border-color: shade($primary_color, 15%);
    &:hover { background: shade($primary_color, 15%); }
  }
}